@page "/counter"
@inherits RxUIFluxorComponent<CounterViewModel, CounterState>

<h1>Counter</h1>

<p>Current count: @ViewModel.Count</p>

<button
          Content="Increase" 
          CssClass="btn btn-primary"
          @onclick="OnIncrease"
          disabled="@ViewModel.IsIncreaseButtonDisabled">
	Increase
</button>
