@page "/counter"
@inherits ReactiveComponentBase<CounterViewModel>

<h1>Counter</h1>

<p>Current count: @ViewModel.Count</p>

<SfButton @ref="@IncreaseButton" 
          Content="Increase" 
          CssClass="e-primary"
          @onclick="OnIncrease"
          Disabled="@ViewModel.IsIncreaseButtonDisabled">
	
</SfButton>
